@import url("https://fonts.google.com/specimen/Outfit/css?family=Out");
*{
    font-family:'Outfit' ;
}
body{
    background: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}

.card{
    
    background-color:hsl(0, 0%, 100%);
    width: 250px;
    padding: 2rem;
    border-radius: 0.5rem;
  
    
}

img{
    width: 100%;
    height: 100%;
    border-radius: 0.8rem;
   
}
.content{
    font-family: sans-serif;
    color: hsl(220, 15%, 55%);
}
.text{
    opacity: 0.5;
    font-size: 15px;
}
